/*СТРАНИЦА КОНТАКТы*/
body{
    background-image: url(../IMAGES/divan.jpg);
    background-size: contain;
    background-color: rgb(57, 146, 45);
    margin: 0;
}
/*НАВИГАЦИЯ*/
table{ 
    padding: 0px 10px;
}
a{
    color: bisque;
}
.round{
    text-align: center;
    border: 5px white;
    border-radius: 20px;
    border-style: groove;
    width: auto;
}
.round a{
    text-decoration: none;
}
.round:hover{
    background-color: darkgreen;
}


/* МЫ СЕЙЧАС...*/
.OT{
    width: 50%;
    text-align: center;
    align-items: center;
    background-color: bisque;
    border-radius: 25px;
    margin-left: 25%;
    min-height: 50px;
    padding-top: 20px;
    font-size: 28px;
    color: red;
}

/* кнопка "Узнать время"*/
.vremya{
    width: 50%;
    text-align: center;
    align-items: center;
    color: rgb(247, 14, 14);
    background-color: bisque;
    border-radius: 25px;
    margin-left: 25%;
    min-height: 70px;
    padding-top: 10px;
    font-size: 22px;
}
.knopka_vremya{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(12, 12 , 12, 0.8);
}
.knopka_vremya:hover{
    background-color: rgba(107, 202, 111, 0.575); 
}

/* СПОСОБЫ СВЯЗИ*/
p.tel {
    color: bisque;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
p.iF {
    color: bisque;
    text-align: center;
    font-size: 30px;
}

.iF a {
    text-decoration: none;
    color: bisque;
}

/*ЭФФЕКТЫ И АНИМАЦИЯ */
.iF a:hover {
    color: white;
}
.iF:hover{
    animation: crug 1s;
}
@keyframes crug{
    0%{ transform: rotate(-10deg);}
    100%{ transform: rotate(0deg);}
}
.tel:hover{
    animation: crug 1s;
}
@keyframes crug{
    0%{ transform: rotate(-10deg);}
    100%{ transform: rotate(0deg);}
}
.ContDan{
    min-height: 650px;
    background-color: rgba(85, 177, 85, 0.37);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    margin: 10px 20px;
}
 
.forma{
    text-align: center;
    width: 100%;
}
#send:hover{
    cursor: pointer;
}   
.forma input, .forma textarea{
    width: 50%;
    padding: 5px;
    margin: 6px;
    font-size: 18px;
    background-color: rgb(229, 225, 160);
    border-color: blanchedalmond;
    border-radius: 10px;
    color: rgb(138, 138, 127);
    text-decoration: underline;
    box-sizing: border-box;
}

#knopka:hover{
    cursor: pointer;
}
.forma input::placeholder, .forma textarea::placeholder{
    color: rgba(70, 70, 70, 0.85);
    text-decoration: underline;
}
.forma input,:focus .forma textarea:focus {
    border: 1px solid brown;
}

/*ВСТОЕННАЯ КАРТА*/
.hmenu{
    color: bisque;
    margin: 5px;
    text-align: center;
}
h2.hmenu {
    color: bisque;
    padding: 10px;
    text-align: center;
}
.karta{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25%;
    border-radius: 20px;
}
footer {
    background-color: rgba(138, 116, 90, 0.85);
    min-height: 50px;
    color:bisque;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    font-size: 24px;
}
