@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,500&family=Fira+Sans:ital,wght@0,300;1,500&display=swap');

h1,h2{
color: bisque;
text-align: center;
}
 
body{
    background-color: rgb(57, 146, 45);
    background-image: url(../IMAGES/stol.png);
    background-size: contain;
    
}
.logo:hover{
    animation: buh 1.5s;
}
@keyframes buh{
    0% {transform: scale(100%);}
    50%{transform: scale(120%);}
    100% {transform: scale(100%);}
}
p{
    text-align: center;
    font-size: 30px;
    color: bisque;
}
a{
    color: bisque;
}

.round{
    text-align: center;
    border: 5px white;
    border-radius: 20px;
    border-style: groove;
    width: auto;
}
.round a{
    text-decoration: none;
}
.round:hover{
    background-color: darkgreen;
}
.text {
	font-size: 30px;
}
.text span {
	display: inline;
	background-color: rgba(0, 0, 0, 0.35);
	padding: 0 10px 0 0;
	color: #FFFFFF;
	
}
table{ 
    padding: 0px 10px;
}
.VIDEO{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rolik{
    border-radius: 20px;
}
footer {
    background-color: rgba(78, 68, 32, 0.801);
    min-height: 50px;
    color:bisque;
    text-align: center;
    padding: 5px;
    float: left;
    width: 100%;
    font-size: 24px;
}

