body {
    margin: 0;
    font-size: 20px;
    background: rgba(160, 114, 114, 0.733);
    font-family: 'Roboto', sans-serif;
    color: rgba(95, 32, 32, 0.603);
}
header {
    background-color: rgba(138, 68, 68, 0.7);
    height: 70px;
    display: flex;
}
.image-header{
    margin-top: 5px;
    width: 100px;
}
.image-header:hover{
    animation: buh 0.5s;
}
@keyframes buh{
    0% {transform: scaleX(150%);}
    100%{transform: scaleX(100%);}
}
h1{
    text-align: center;
    color: rgb(228, 226, 226);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-top: -2px;
}
nav {
    height: 40px;
    background-color: rgb(139, 68, 68);
    border-top: 2px solid rgb(100, 31, 31);
    border-bottom: 2px solid rgb(100, 31, 31);
    padding-top: 5px;
}
nav a {
    font-size: 22px;
    color: whitesmoke;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px 10px;
    margin-left: 100px;
    font-weight: bold;
}
.logotip {
    display: inline-block;
    width: 200px;
    padding-left: 20px;
    padding-top: 5px;
}
.z_main {
    color: rgba(243, 235, 235, 0.808);
}
.linia {
    border: 3px solid sienna;
}

aside {
    min-height: 95vh;
    width: 10%;
    float: left;
    box-sizing: border-box;
}
aside a {
    text-align: center;
    color: whitesmoke;
    font-size: 22px;
    display: block;
    background-color: rgba(138, 68, 68, 0.8);
    padding: 25px 10px;
    text-decoration: none;
}
aside a:nth-child(2n+1){
    background-color: rgb(238, 180, 180);
}
aside a:hover{
    background-color:rgba(37, 12, 12, 0.8);
}
main {
    box-sizing: border-box;
    min-height: 95vh;
    width: 90%;
    background-color: bisque;
    border-left: 2px solid black;
    background-size: cover;
    background-attachment: fixed;
    float: left;
    padding: 18px 7%;
    box-shadow: inset 0px 0px 8px black;
}

.galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_galery{
    width: 200px;
    border: 2px solid rgb(73, 17, 17);
    border-radius: 25%;
}
.container_index{
    background-color: rgba(212, 103, 103, 0.61);
    border-radius: 10px;
    padding: 10px 2%;
    box-shadow: 1px 1px 5px rgb(73, 17, 17);
}
footer {
        background-color: rgb(138, 68, 68);
        min-height: 40px;
        color: white;
        text-align: center;
        padding: 5px;
        float: left;
        width: 100%;
        font-size:24px;
}
.brand{
    text-align: center;
    text-shadow: 2px 2px 2px yellow;
    font-size-adjust: unset;
    font-family:'Courier New', Courier, monospace;
    padding-top: 10px;
}
.comment_blok{
    box-sizing: border-box;
    display: flex;
    border: 4px dotted rgb(100, 31, 31);
    background-color: rgb(205, 231, 144);
    border-radius: 10px;
    max-height: 250px;
}
.comment_blok2{
    box-sizing: border-box;
    display: flex;
    border: 4px solid rgb(100, 31, 31);
    background-color: rgb(205, 231, 144);
    border-radius: 10px;
    max-height: 250px;
}
.comment_blok3{
    box-sizing: border-box;
    display: flex;
    border: 4px dashed rgb(100, 31, 31);
    background-color: rgb(205, 231, 144);
    border-radius: 10px;
    max-height: 250px;
}
.comment_an{
    padding: 10px 50px;
}

.comment_avatar{
    border-radius: 50%;
    border: 2px solid black;    
    width: 110px;
    height: 170px;
}
.comment_name{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.comment{
    padding: 20px 15px;
    text-align: center;
}
.comment_ball{
    color: red;
    padding-top: 20px;
    padding-right: 20px;
}
[class*=col-]{
    box-sizing: border-box;
    float: left;
}
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}

.row{
    overflow: auto;
}
.eskiz{
    min-height: 250px;
    background-color:rgba(138, 68, 68, 0.7);
    margin: 10px 5%;
    display: flex;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    color: aliceblue;
    box-shadow: 2px 2px 8px black;
}
.eskiz img{
    max-width: 50%;
    margin: 25px;
    border-radius: 40px;
    border: 2px solid bisque;
}
.eskiz:hover{
    border: 2px solid brown;
    color: bisque;
    font-size: 50px;
}
.eskiz span{
    font-size: 35px;
}
.eskiz:hover img{
    animation: crug 1s;
}
@keyframes crug{
    0%{ transform: rotate(-30deg);}
    100%{ transform: rotate(0deg);}
}
.hmenu{
    color: sienna;
    margin-bottom: 5px;
    text-align: center;
}
.eskiz span:hover{
    animation: oborot 1s;
}
.ContDan{
    min-height: 250px;
    background-color: rgba(141, 98, 98, 0.37);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    padding: 15px 10px;
    display: flex;
}
.forma{
    padding: 0 10px;
}
.forma input, .forma textarea{
    width: 100%;
    padding: 5px;
    margin: 6px;
    font-size: 18px;
    background-color: rgb(229, 225, 160);
    border-color: blanchedalmond;
    border-radius: 10px;
    color: rgb(138, 138, 127);
    text-decoration: underline;
    box-sizing: border-box;
}
/*.phoneContact p span{
    font-size: 30px;
    margin-left: 30px;
}*/
#send:hover{
    cursor: pointer;
}
.forma input::placeholder, .forma textarea::placeholder{
    color: rgba(70, 70, 70, 0.85);
    text-decoration: underline;
}
.forma input,:focus .forma textarea:focus {
    border: 1px solid brown;
}
@keyframes oborot{
    0%{ transform: rotate(-360deg);}
    100%{ transform: rotate(0deg);}
}
@media (max-width: 1300px) {
    aside {
        width: 15%;
    }
    mail {
        width: 85%;
    }
}
@media (max-width: 1000px) {
    aside {
        width: 20%;
    }
    mail {
        width: 80%;
    }
}
@media (max-width: 720px) {
    aside {
        width: 30%;
    }
    mail {
        width: 70%;
    }
    [class^="col-"] {
        width: 100%;
    }
    .img-galery 
}

/* кнопка "Узнать время"*/
.vremya{
width: 30%;
text-align: center;
align-items: center;
color: black;
background-color: bisque;
border-radius: 25px;
margin-left: 35%;
min-height: 70px;
padding-top: 20px;

}
.knopka_vremya{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(12, 12 , 12, 0.8);
}
.knopka_vremya:hover{
   background-color: rgb(105, 240, 111); 
}
