/*  ОБЩЕЕ */
body{
    background-image: url(../IMAGES/trava.jpg);
    background-size: contain;
    background-color: rgb(73, 116, 67);
    margin: 0;
}

h1,h2{
    color: bisque;
    text-align: center;
}
.menu h1{
    align-items: center;
}

/* РАЗДЕЛЫ МЕНЮ */

.menu{
    text-align: center;
    font-size: 30px;
    background-color: rgba(138, 116, 90, 0.85);
    border-radius: 20px;
    max-width: 50%;
    color: bisque;
    margin: 20px 25%;
}
.blocmenu{
    align-items: center;
    min-width: 50%;
}
.blocmenu a{
    text-decoration: none;
} 
.round{
    text-align: center;
    border-radius: 20px;
    background-color: bisque;
    padding: 10px;
    margin: 20px 30%;
    
}   
a .round {
    color: #000;
    
}
a .round:hover{
    background-color: rgba(138, 116, 90, 0.85);
    color: bisque;
}
.QR{
    align-items: baseline;
    max-width: 50%;
    border-radius: 10%;
}

/* СТРАНИЦЫ МЕНЮ*/

img {
    width: 75%;
    border-radius: 10%;
}
p{
    text-align: center;
}
.foto_menu{
    width: 100%;
    
}

/* навигация */

.mini{
    width: 7%;
    margin-bottom: 30%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px 20px 0 0;
}


footer {
    background-color: rgba(138, 116, 90, 0.85);
    min-height: 50px;
    color:bisque;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    font-size: 24px;
}
