body{
    background: rgba(160, 114, 114, 0.5);
    margin: 0;
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
}
header {
    background-color: rgb(138,68,68);
    height: 50px;
    display: flex;
}
nav a {
    font-size: 22px;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 20px 15px;
}
.logotip{
    display: inline;
}
aside{
    min-height: 98vh;
    width: 10%;
    float: left;
    box-sizing: border-box;
}
aside a {
    text-align: center;
    color: whitesmoke;
    font-size: 22px;
    display: block;
    background-color: rgba(138, 68, 68 0.5);
    padding: 25px 10px;
    text-decoration: none;
}
main{
    box-sizing: border-box;
    min-height: 95vh;
    width: 90%;
    background: linear-gradient(rgba(243 211 194 0.8), rgba(199 149 129 0.8));
    border-left: 2px solid black;
    background-size: cover;
    background-attachment: fixed;
}
footer {
    background-color: rgb(138, 68, 68);
    text-align: center;
    color: white;
    padding: 5px;

    
}